.tagLinksContainer .tags {
	display: flex;
	flex-wrap: wrap;
	gap: 6px;

	.tagItem a {
		display: inline-block;
		font-size: 20px;
		font-weight: 300;
		line-height: 1.1;
		background: var(--tag-bg-color, var(--foreground));
		color: var(--tag-text-color, var(--background));
		padding: 6px 10px;
		border-radius: 8px;
		transition: background-color var(--hover-transition, 0.3s ease-in-out);

		@media (hover: hover) {
			&:hover {
				background-color: var(--tag-hover-bg-color, var(--faded-foreground));
			}
		}
	}
}
