.footerContainer {
	max-width: 400px;
	margin-inline: auto;
	display: grid;
	justify-items: center;
	gap: 10px;
	margin-bottom: 25px;

	& h2 {
		font-size: 2.5rem;
		text-align: center;
		font-weight: 600;
		line-height: 1;
		margin-bottom: 10px;
	}

	@media (min-width: 40em) {
		& {
			max-width: 600px;
			gap: 20px;

			& h2 {
				font-size: 3.6rem;
			}
		}
	}
	@media (min-width: 64em) {
		& {
			max-width: 1150px;
			gap: 30px;

			& h2 {
				font-size: 7.125rem;
				margin-bottom: 20px;
			}
		}
	}
}
