.copyButton {
	--text-color: var(--background);
	--bg-color: var(--foreground);

	color: var(--text-color);
	background-color: var(--bg-color);
	display: flex;
	position: relative;
	align-items: center;
	flex-direction: row;
	gap: 10px;
	padding: 8px 20px;
	font-size: 1rem;
	text-transform: uppercase;
	font-weight: 500;
	letter-spacing: 0.04em;
	cursor: pointer;
	transition: background-color var(--hover-transition);
	border-radius: 3em;
	overflow: hidden;

	& svg {
		width: 20px;
		height: auto;
	}

	&::after {
		content: 'Copied!';
		pointer-events: none;
		width: 100%;
		height: 100%;
		align-content: center;
		background-color: inherit;
		position: absolute;
		top: 0;
		left: 0;
		font: inherit;
		z-index: 1;
		opacity: 0;
		transition: opacity var(--hover-transition);
	}

	&:hover {
		background-color: var(--faded-foreground);
	}
	&.copied {
		pointer-events: none;

		&::after {
			opacity: 1;
		}
	}

	@media (min-width: 64em) {
		& {
			font-size: 1.25rem;
			padding: 10px 22px;

			& svg {
				width: 22px;
			}
		}
	}
}
