.sideBySide {
	max-width: var(--body-max-width);
	width: 100%;
	margin-inline: auto;
	padding-inline: 10px;
	margin-bottom: var(--widget-margin-bottom);

	.inner {
		display: grid;
		gap: 30px;
		align-items: start;

		.contentSection {
			display: grid;
			gap: 0px;
			align-content: start;
			order: 1;
			.subtitle {
				font-size: 0.9rem;
				font-weight: 600;
				text-transform: uppercase;
				margin-bottom: 5px;
			}
			& h2 {
				margin-bottom: 12px;
				font-size: 2rem;
				max-width: unset;
			}
		}

		.imgContainer {
			order: -1;
			box-shadow: 0 0 7px 1px #00000033;
		}
	}

	.richTextContainer {
		display: grid;
		gap: 28px;

		ul li {
			white-space: break-spaces;
			font-size: 1.25rem;
			line-height: 1.5;
			position: relative;
			margin-left: 18px;

			&::before {
				content: '• ';
				position: absolute;
				left: -16px;
				top: -2px;
			}
		}
	}

	@media (min-width: 64em) {
		& {
			padding-inline: 20px;
		}
		.inner {
			gap: 40px;
			grid-template-columns: 1.4fr 1fr;
			grid-template-rows: auto;

			.contentSection {
				order: 1;
				align-content: start;
				place-self: start;
				gap: 0;
				display: grid;

				.reversed & {
					justify-self: end;
				}

				.subtitle {
					font-size: 1.2rem;
				}

				& h2 {
					font-size: 2.5rem;
				}
			}
		}
		&.reversed {
			.inner {
				grid-template-columns: 1fr 1.4fr;
			}

			.imgContainer {
				order: 1;
			}
		}
	}
}
