.featuredProjects {
	display: grid;
	gap: 30px;
	margin-bottom: var(--widget-margin-bottom);

	.projectsContainer {
		display: grid;
		align-items: start;
		gap: 60px;
	}

	@media (min-width: 40em) {
		.projectsContainer {
			grid-template-columns: repeat(2, minmax(0, 1fr));
			gap: 50px 10px;
		}
	}

	@media (min-width: 64em) {
		.projectsContainer {
			grid-template-columns: repeat(3, minmax(0, 1fr));
		}
	}
}
