.projectCard {
	display: grid;
	color: inherit;

	.imgContainer {
		position: relative;
		overflow: hidden;
		aspect-ratio: 7 / 4;
		transition: filter var(--hover-transition);

		@media (hover: hover) {
			& {
				filter: grayscale(90%) contrast(1.15);
			}

			.projectCard:hover & {
				filter: grayscale(30%) contrast(1);
			}
		}

		.cardImage {
			display: block;
			width: 100%;
			height: 100%;
			object-fit: cover;
		}

		.imgFallback {
			width: 100%;
			height: 100%;
			background: rgba(0, 0, 0, 0.1);
		}

		&::after {
			position: absolute;
			content: '';
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background: rgba(0, 0, 0, 0.2);
			pointer-events: none;
		}
	}

	.tags {
		display: flex;
		flex-wrap: wrap;
		gap: 6px;

		.tagItem {
			display: inline-block;
			font-size: 20px;
			font-weight: 300;
			line-height: 1.1;
			background: var(--foreground);
			color: var(--background);
			padding: 6px 10px;
			border-radius: 8px;
		}
	}

	.contentSection {
		display: grid;
		gap: 12px;
		align-content: start;
		order: 1;
		padding-top: 14px;

		.learnMoreLink {
			display: flex;
			align-items: center;
			gap: 6px;
			width: fit-content;
			font-size: 20px;
			font-weight: 500;
			text-decoration: underline;
			text-underline-offset: 4px;
			transition: text-decoration-color var(--hover-transition);

			& svg {
				transition: margin-left var(--hover-transition);
			}

			@media (hover: hover) {
				&:hover {
					text-decoration-color: var(--background);

					& svg {
						margin-left: 4px;
					}
				}
			}
		}
	}
}
