.projectCard {
	display: grid;
	color: inherit;

	.imgContainer {
		aspect-ratio: 7 / 4;
		transition: filter var(--hover-transition);
		position: relative;
		overflow: hidden;
		border-radius: 4px;

		& {
			filter: grayscale(90%) contrast(1.15);
		}

		.projectCard:hover & {
			filter: grayscale(30%) contrast(1);
		}

		.cardImage {
			display: block;
			width: 100%;
			height: 100%;
			object-fit: cover;
		}

		.imgFallback {
			width: 100%;
			height: 100%;
			background: rgba(0, 0, 0, 0.1);
		}

		&::after {
			position: absolute;
			content: '';
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background: rgba(0, 0, 0, 0.2);
			pointer-events: none;
		}
	}

	.contentSection {
		display: grid;
		gap: 12px;
		align-content: start;
		order: 1;
		padding-top: 14px;
	}
}
