.projectsExplorer {
	display: grid;
	gap: 30px;
	margin-bottom: var(--widget-margin-bottom);

	.projectsContainer {
		display: grid;
		align-items: start;
		gap: 60px;
	}

	@media (min-width: 40em) {
		.projectsContainer {
			grid-template-columns: repeat(2, minmax(0, 1fr));
			gap: 50px 10px;
		}
	}

	@media (min-width: 64em) {
		.projectsContainer {
			grid-template-columns: repeat(3, minmax(0, 1fr));
			column-gap: 15px;
		}
	}

	.projectExplorerClient {
		.filter {
			display: flex;
			align-items: center;
			justify-content: space-between;
			margin-bottom: 20px;

			.dropdownButton {
				--text-color: var(--background);
				--bg-color: var(--foreground);
				color: var(--text-color);
				background-color: var(--bg-color);
				text-transform: uppercase;
				letter-spacing: 0.04em;
				cursor: pointer;
				transition: background-color var(--hover-transition);
				border-radius: 3em;
				flex-direction: row;
				align-items: center;
				gap: 10px;
				width: fit-content;
				padding: 8px 20px;
				font-size: 1rem;
				font-weight: 500;
				display: flex;
				position: relative;
				overflow: hidden;
			}

			.filterControls {
				position: relative;
				display: flex;
				flex-wrap: wrap;
				gap: 20px;

				.clearButton {
					text-underline-offset: 4px;
					width: fit-content;
					transition: text-decoration-color var(--hover-transition);
					align-items: center;
					font-size: 20px;
					font-weight: 500;
					text-decoration: underline;
					position: relative;
					transition:
						margin-left var(--hover-transition),
						opacity var(--hover-transition),
						visibility var(--hover-transition),
						text-decoration-color var(--hover-transition);

					&.hidden {
						visibility: hidden;
						opacity: 0;
						pointer-events: none;
						margin-left: -112px;
					}

					& span {
						font-size: 1.1rem;
						line-height: 1;
						display: inline-block;
						min-width: 25px;
					}

					@media (hover: hover) {
						&:hover {
							text-decoration-color: var(--background);
						}
					}
				}
			}

			.optionLabel {
				display: flex;
				gap: 5px;
				font-size: 18px;
				cursor: pointer;
				width: fit-content;
				padding-right: 8px;

				& input {
					appearance: none;
					position: absolute;
				}
				&:has(input:focus-visible) {
					outline: 2px dashed;
					outline-offset: 2px;
				}
				.optionIcon {
					font-size: 20px;
					color: var(--inactieve-grey);
					transition:
						rotate var(--hover-transition-short),
						color var(--hover-transition-short);

					input:checked + & {
						color: var(--foreground);
						rotate: 45deg;
					}

					@media (hover: hover) {
						input:hover + & {
							color: var(--foreground);
						}
					}
				}
			}

			.dropdownPanel {
				z-index: 20;
				background: #ffffff;
				color: var(--foreground);
				border-radius: 6px;
				flex-direction: column;
				justify-content: center;
				gap: 12px;
				padding: 15px 10px;
				font-size: 18px;
				display: flex;
				position: absolute;
				bottom: -6px;
				translate: 0 100%;
				width: 100%;
				border: 1px solid;
				min-width: max-content;
				opacity: 0;
				visibility: hidden;
				pointer-events: none;
				transition:
					opacity var(--hover-transition),
					visibility var(--hover-transition);

				&.open {
					opacity: 1;
					visibility: visible;
					pointer-events: all;
				}
			}
		}
		.resultsCount {
			text-align: center;
			margin-top: 60px;
		}
	}
}
