:root {
	--font-primary: Inter, sans-serif;
	--background: #ffffff;
	--foreground: #000;
	--faded-foreground: #363636;
	--hover-transition: 0.3s ease;
	--widget-margin-bottom: 80px;

	@media (min-width: 47.5em) {
		& {
			--widget-margin-bottom: 160px;
		}
	}
}

html,
body {
	max-width: 100vw;
	height: 100%;
	overflow-x: hidden;
}

body {
	color: var(--foreground);
	background: var(--background);
	font-family: var(--font-primary);

	& header,
	& main,
	& footer {
		margin-inline: auto;
		max-width: 1550px;
		width: 100%;
		padding-inline: 10px;
	}
}

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

ul {
	list-style: none;
}

a {
	color: inherit;
	text-decoration: none;
}

button {
	border: none;
	background: none;
	cursor: pointer;
	font-family: inherit;
}

p {
	font-size: 1.25rem;
	line-height: 1.5;

	a {
		text-decoration: underline;
		font-weight: 500;
		transition: text-decoration-color var(--hover-transition);

		&:hover {
			text-decoration-color: var(--background);
		}
	}
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: var(--font-primary);
	font-weight: 500;
}
h1 {
	font-size: 4.375rem;
	line-height: 1;
	/* font-weight: 500; */
}

h2 {
	font-size: 4rem;
	line-height: 1;
}

h3 {
	font-size: 2rem;
	line-height: 1.2;
}

h4 {
	font-size: 1.5rem;
	line-height: 1.2;
}

h5 {
	font-size: 1.25rem;
	line-height: 1.2;
}
h6 {
	font-size: 1rem;
	line-height: 1.2;
}

@media (min-width: 64em) {
	h1 {
		font-size: 8.75rem;
	}
	h2 {
		font-size: 7.125rem;
	}
	h3 {
		font-size: 2rem;
	}
	h4 {
		font-size: 2.5rem;
	}
	h5 {
		font-size: 1.25rem;
	}
	h6 {
		font-size: 1rem;
	}
	p {
		font-size: 1.5rem;
	}
}
