:root {
	--font-primary: Inter, sans-serif;
	--background: #ffffff;
	--foreground: #121212;
	--faded-foreground: #4a4a4a;
	--border-color-gray: #ccc;
	--hover-transition: 0.4s ease;
	--widget-margin-bottom: 80px;
	--content-max-width: 1350px;
	--body-max-width: 1550px;

	@media (min-width: 48em) {
		--widget-margin-bottom: 100px;
	}
	@media (min-width: 64em) {
		--widget-margin-bottom: 160px;
	}
}

html,
body {
	max-width: 100vw;
	height: 100%;
	overflow-x: hidden;
}

body {
	color: var(--foreground);
	background: var(--background);
	font-family: var(--font-primary);

	& > div > header,
	& > div > main,
	& > div > footer {
		margin-inline: auto;
		max-width: var(--body-max-width);
		width: 100%;
		padding-inline: 10px;

		&header {
			max-width: 1720px;
		}
		@media (min-width: 40em) {
			& {
				padding-inline: 20px;
			}
		}
	}
}

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

ul {
	list-style: none;
}

a {
	color: inherit;
	text-decoration: none;
}

button {
	border: none;
	background: none;
	cursor: pointer;
	font-family: inherit;
}

p {
	font-size: 1.25rem;
	line-height: 1.5;

	a {
		text-decoration: underline;
		font-weight: 500;
		transition: text-decoration-color var(--hover-transition);

		&:hover {
			text-decoration-color: var(--background);
		}
	}
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: var(--font-primary);
	font-weight: 500;
}
h1 {
	font-size: 4.375rem;
	line-height: 1;
}

h2 {
	font-size: 4rem;
	line-height: 1;
	margin-bottom: 20px;
}

h3 {
	font-size: 2rem;
	line-height: 1.2;
}

h4 {
	font-size: 1.5rem;
	line-height: 1.2;
}

h5 {
	font-size: 1.25rem;
	line-height: 1.2;
}
h6 {
	font-size: 1rem;
	line-height: 1.2;
}

@media (min-width: 64rem) {
	h1 {
		font-size: 8.75rem;
	}
	h2 {
		font-size: 7.125rem;
	}
	h3 {
		font-size: 2rem;
	}
	h4 {
		font-size: 2.5rem;
	}
	h5 {
		font-size: 1.25rem;
	}
	h6 {
		font-size: 1rem;
	}
}

@media (min-width: 102rem) {
	p {
		font-size: 1.5rem;
	}
}
