:root {
	--background: #ffffff;
	--foreground: #000;
	--hover-transition: 0.3s ease;
}

html,
body {
	max-width: 100vw;
	overflow-x: hidden;
}

body {
	color: var(--foreground);
	background: var(--background);
	font-family: Inter, sans-serif;

	& header,
	& main,
	& footer {
		margin-inline: auto;
		max-width: 1550px;
	}
}

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

a {
	color: inherit;
	text-decoration: none;
}

button {
	border: none;
	background: none;
	cursor: pointer;
	font-family: inherit;
}

p {
	font-size: 1.25rem;
	line-height: 1.5;

	a {
		text-decoration: underline;
		font-weight: 500;
		transition: text-decoration-color var(--hover-transition);

		&:hover {
			text-decoration-color: var(--background);
		}
	}
}

h1 {
	font-size: 4.375rem;
	line-height: 1;
}

h2 {
	font-size: 4rem;
	line-height: 1;
}

h3 {
	font-size: 2rem;
	line-height: 1.2;
}

h4 {
	font-size: 1.5rem;
	line-height: 1.2;
}

h5 {
	font-size: 1.25rem;
	line-height: 1.2;
}
h6 {
	font-size: 1rem;
	line-height: 1.2;
}

@media (min-width: 64em) {
	h1 {
		font-size: 8.75rem;
	}
	h2 {
		font-size: 8.125rem;
	}
	h3 {
		font-size: 2rem;
	}
	h4 {
		font-size: 2.5rem;
	}
	h5 {
		font-size: 1.25rem;
	}
	h6 {
		font-size: 1rem;
	}
}
